{
  "swagger": "2.0",
  "info": {
    "description": "The HERE Fleet Telematics API is a set of REST resources for advanced fleet telematics on top of the HERE Location Services. It supersedes the services CLE, CRE, GFE, GFE-onMaps, PDE, RME, TCE and WSE.",
    "version": "3.0.31",
    "title": "Fleet Telematics API Documentation",
    "contact": [

    ],
    "license": [

    ],
    "x-document-meta-data": {
      "copyright": "© 2020 HERE Europe B.V.",
      "document-id": "000aeced-9942-469c-a56a-0f0d907624b4",
      "date-created": "2020-05-29T08:53:07+00:00"
    }
  },
  "host": "fleet.ls.hereapi.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Routing & Route Matching",
      "description": "Route calculation with enterprise features"
    },
    {
      "name": "Upload Data",
      "description": "Upload custom roads/restrictions and custom POIs"
    },
    {
      "name": "Search",
      "description": "Retrieve map features & custom features"
    }
  ],
  "paths": {
    "/1/doc/attributes.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "List the layer attributes across all layers",
        "description": "List the map layer attributes across all layers. Does not list the custom layers.",
        "operationId": "attributesJSONUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AttributeDocBean"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/doc/indexes.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "List available layer indexes",
        "description": "List the available indexes of all available layers. Does not list indexes of custom layers.",
        "operationId": "indexesJSONUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IndexDocBean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/doc/layer.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "List the layer attributes",
        "description": "List the attributes of a given layer. Does not list the custom layers.",
        "operationId": "layerJSONUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "layer",
            "in": "query",
            "description": "layer",
            "required": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LayerDetailDocBean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/doc/layers.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "List the available map layers",
        "description": "List available map layers. To see only the layers of a given map region, like Postal Code Boundaries, then specify it as map 'region'. Does not list the custom layers.",
        "operationId": "layersJSONUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LayerDocBean"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/doc/maps.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "List available map regions/releases",
        "description": "List available map regions/releases. Does not list custom maps.",
        "operationId": "mapsJSONUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapDocResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/doc/scontent.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "List static layer's attributes",
        "description": "List the attributes of a given static (non tiled) layer. Does not work for custom layers.",
        "operationId": "staticContentJSONUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "content",
            "in": "query",
            "description": "Static content layer name",
            "required": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StaticContentDetailDocBean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/doc/scontents.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "List static content layers",
        "description": "List the available static content (non-tiled) layers. Does not list custom layers.",
        "operationId": "staticContentsJSONUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StaticContentDocBean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/file.bin": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "File content",
        "description": "Retrieve the binary content of a file, like a junction view image",
        "operationId": "getFileUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "layer",
            "in": "query",
            "description": "layer name",
            "required": false,
            "type": "string"
          },
          {
            "name": "path",
            "in": "query",
            "description": "file path, as specified in the referencing layer's attribute value",
            "required": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/index.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Tile IDs containing a given value",
        "description": "Retrieve the IDs of tiles that contain a given (set of) attribute value(s). Does not work for custom layers.",
        "operationId": "indexJSONUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "layer",
            "in": "query",
            "description": "layer name",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "comma separated list of index attribute names",
            "required": false,
            "type": "string"
          },
          {
            "name": "values",
            "in": "query",
            "description": "comma separated list of index attribute values, corresponding to the attribute names",
            "required": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IndexResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/search/bbox.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Retrieve layer content within given geo rectangle",
        "description": "Retrieve the layer content records within given geo bounding box. Does not work for custom layers.",
        "operationId": "searchBboxUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "Layer name to be searched. Layer name is not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json",
            "required": false,
            "type": "string"
          },
          {
            "name": "key_attribute",
            "in": "query",
            "description": "the key column(s) of this layer, as defined in the layer specification",
            "required": false,
            "type": "string"
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "The bounding box upper, left, lower and right coordinates in WGS84 degrees. All geometries overlapping this rectangle will be returned.\r\nThe format is latitude,longitude;latitude,longitude.\r\nExample: bbox=37.8,-122.1;37.2,-122.0",
            "required": false,
            "type": "string"
          },
          {
            "name": "geom",
            "in": "query",
            "description": "local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.",
            "required": false,
            "type": "string",
            "default": "local"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "type": "string"
          },
          {
            "name": "release",
            "in": "query",
            "description": "Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GeometrySearchResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/search/corridor.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Retrieve layer content within given geo corridor",
        "description": "Retrieve the layer content records within an airline distance along a given polyline. Does not work for custom layers.",
        "operationId": "searchCorridorUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "layer_ids",
            "in": "query",
            "description": "Comma separated list of layer names to be searched. Layer names are not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json",
            "required": false,
            "type": "string"
          },
          {
            "name": "key_attributes",
            "in": "query",
            "description": "the key column(s) of this layer, as defined in the layer specification",
            "required": true,
            "type": "string"
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "corridor",
            "in": "query",
            "description": "Either corridor or route_id is required.\r\nThe WGS84 degree coordinates of the polyline used as corridor center line.\r\nFor example:\r\nlatitude 1,longitude 1;latitude 2,longitude 2;...",
            "required": false,
            "type": "string"
          },
          {
            "name": "route_id",
            "in": "query",
            "description": "Either corridor or route_id is required.\r\nA route_id obtained from a previous Router call. This route_id will be turned into a corridor polyline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "The buffer search radius in meters.All geometries overlapping the corridor polygon will be returned.",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "geom",
            "in": "query",
            "description": "local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.",
            "required": false,
            "type": "string",
            "default": "local"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "fastest;car;traffic:disabled;... or fastest;car;traffic:disabled;It determines how the route is calculated. When route_id is used for the corridor search then please specify the same mode which was used to get the route id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "type": "string"
          },
          {
            "name": "release",
            "in": "query",
            "description": "Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GeometrySearchResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/search/quadkey.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Retrieve layer content within a quadkey",
        "description": "Retrieve the layer content records within a given geo rectangle specified by a (standard WGS84 Mercator) quadkey. Does not work for custom layers.",
        "operationId": "searchQuadKeyUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "Layer name to be searched. Layer name is not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json",
            "required": false,
            "type": "string"
          },
          {
            "name": "key_attribute",
            "in": "query",
            "description": "the key column(s) of this layer, as defined in the layer specification",
            "required": false,
            "type": "string"
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.",
            "required": false,
            "type": "string"
          },
          {
            "name": "quad_key",
            "in": "query",
            "description": "The quad key number of the map tile area to search from.",
            "required": false,
            "type": "string"
          },
          {
            "name": "geom",
            "in": "query",
            "description": "local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.",
            "required": false,
            "type": "string",
            "default": "local"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "type": "string"
          },
          {
            "name": "release",
            "in": "query",
            "description": "Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GeometrySearchResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/serviceconfiguration.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Service parameter boundary values",
        "description": "Numeric constants and limits for the service calls. Will never become more strict, but can become more relaxed in future releases.",
        "operationId": "getServiceConfigurationUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceConfigurationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/static.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Static layer's content",
        "description": "Retrieve the rows from the static layer's content. Does not include custom layers.",
        "operationId": "staticJSONUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "content",
            "in": "query",
            "description": "Static content layer name",
            "required": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "link2stabletopologyid",
            "in": "query",
            "description": "Optional. If '1' then the result records have 2 additional columns: TOPOLOGY_ID and START_OFFSET. The HERE topology segment PVID identifies a stretch of roads between 2 intersections. Links are subsets of a topology segment, hence the offset attributes define the range of the link within the topology segment [0..1].",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TileResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/tile.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Tile of rows from a layer",
        "description": "Retrieve the rows from within a given tile of this layer. Does not work for custom layers.",
        "operationId": "tileJsonUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "layer",
            "in": "query",
            "description": "Thematic layer name",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "type": "string"
          },
          {
            "name": "release",
            "in": "query",
            "description": "Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a (nearest to) specific snapshot of the live traffic speed record layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Level of the requested layer, as specified in layer's documentation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tilex",
            "in": "query",
            "description": "Tile number in West-East direction. Depends on the level. The tile covering the longitude LON [WGS84 degree] has tileX = floor((LON + 180.0) / tileSize), where tileSize = 180 / 2^level. The tile with a given tileX value covers the longitude range [ tileX * tileSize - 180.0 ... (tileX + 1) * tileSize - 180.0 ].",
            "required": false,
            "type": "string"
          },
          {
            "name": "tiley",
            "in": "query",
            "description": "Tile number in South-North direction. Depends on the level. The tile covering the latitude LAT [WGS84 degree] has tileY = floor((LAT + 90.0) / tileSize), where tileSize = 180 / (2^level). The tile with a given tileY value covers the latitude range [ tileY * tileSize - 90.0 ... (tileY + 1) * tileSize - 90.0 [.",
            "required": false,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Optional. If '1' then each response tile is framed with meta information (layer, level, tilex, tiley, region, release).",
            "required": false,
            "type": "string"
          },
          {
            "name": "cols",
            "in": "query",
            "description": "Optional. Selects the subset of attributes in the response. Semicolon separated list of attributes, within a per-tile comma separated list. Example: cols=LAT;LON,LAT will retain only LAT and LON in first tile's result rows and retain only LAT in second tile's result.",
            "required": false,
            "type": "string"
          },
          {
            "name": "link2stabletopologyid",
            "in": "query",
            "description": "Optional. If '1' then the result records have 2 additional columns: TOPOLOGY_ID and START_OFFSET. The HERE topology segment PVID identifies a stretch of roads between 2 intersections. Links are subsets of a topology segment, hence the offset attributes define the range of the link within the topology segment [0..1].",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TileResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/1/tiles.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Multiple tiles' rows from layer(s)",
        "description": "Retrieve the rows from within given tile(s) out of one or more layers. Does not work for custom layers.",
        "operationId": "tilesJSONUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "layers",
            "in": "query",
            "description": "Thematic Layer names, one per requested tile, comma separated list.",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "type": "string"
          },
          {
            "name": "release",
            "in": "query",
            "description": "Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a (nearest to) specific snapshot of the live traffic speed record layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "levels",
            "in": "query",
            "description": "Level of each requested layer, as specified in the layers' documentation, comma separated list.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tilexy",
            "in": "query",
            "description": "Comma separated sequence of tilex,tiley pairs for the requested tiles. The tilex and tiley values are described in the tile.json resource.",
            "required": false,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Optional. If '1' then each response tile is framed with meta information (layer, level, tilex, tiley, region, release).",
            "required": false,
            "type": "string"
          },
          {
            "name": "cols",
            "in": "query",
            "description": "Optional. Selects the subset of attributes in the response. Semicolon separated list of attributes, within a per-tile comma separated list. Example: cols=LAT;LON,LAT will retain only LAT and LON in first tile's result rows and retain only LAT in second tile's result.",
            "required": false,
            "type": "string"
          },
          {
            "name": "link2stabletopologyid",
            "in": "query",
            "description": "Optional. If '1' then the result records have 2 additional columns: TOPOLOGY_ID and START_OFFSET. The HERE topology segment PVID identifies a stretch of roads between 2 intersections. Links are subsets of a topology segment, hence the offset attributes define the range of the link within the topology segment [0..1].",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TileResponse"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/2/calculateroute.json": {
      "get": {
        "tags": [
          "Routing & Route Matching"
        ],
        "summary": "Calculates a route with additional fleet telematics features",
        "description": "Calculates a route with additional fleet telematics features.\r\nThis resource provides a similar interface as the Routing REST API.\r\nNote: If using the cre.api.here.com endpoint, then requests that don't need specific features may get redirected to the Routing REST API. This doesn't happen when usgin the fleet.api.here.com endpoint.",
        "operationId": "calculateRouteUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "driver_cost",
            "in": "query",
            "description": "Cost per hour in target currency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicle_cost",
            "in": "query",
            "description": "Cost per kilometer in target currency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleCostOnFerry",
            "in": "query",
            "description": "Cost per kilometer on ferry in target currency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "3 letter ISO currency symbol, like EUR or USD. Required if toll cost must be added up across different currencies and/or be added to driver/vehicle/fuel cost in different currencies.",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "type": "string"
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Format: now, yyyy-MM-dd'T'HH:mm:ss or yyyy-MM-dd'T'HH:mm:ssX. If no timezone is specified, then the local timezone at the route start link is used. Default: Ignore all time dependent access restrictions. Special values: ignoreTimeDepRestr (like default), obeyTimeDepRestr (all time dependent restrictions apply).",
            "required": false,
            "type": "string"
          },
          {
            "name": "tollVehicleType",
            "in": "query",
            "description": "1=Motorcycle, 2=Auto, 3=Truck, 4=Motor home, 5=Minibus, 6=Bus, 7=Motorcycle Sidecar(EU), 8=Tricycle(EU), 9=Delivery Truck(EU+India), 10=Snowmobile(US), 11=Pick-up(US+India), 12=Tractor(US+India), 13=Taxi, 14=HCM/EME (India)",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailerType",
            "in": "query",
            "description": "0=None, 1=Caravan, 2=Trailer. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailersCount",
            "in": "query",
            "description": "Number of trailers, 0...4. For toll cost and truck restrictions. 0=no trailer, 1=one or more trailers, 2=two or more trailers, 3=three or more trailers. For truck restrictions: 4=one or more semi-trailers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleNumberAxles",
            "in": "query",
            "description": "Number of axles excluding trailers. For toll cost and for country wide truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailerNumberAxles",
            "in": "query",
            "description": "Number of trailer axles. For toll cost and for country wide truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hybrid",
            "in": "query",
            "description": "1=fuel+electric, 0=otherwise. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "emissionType",
            "in": "query",
            "description": "1=EURO I, 2=EURO II, 3=EURO III, 4=EURO IV, 5=EURO V, 6=EURO VI, 7=EURO EEV, 8=Electric Vehicles. For toll cost and environmental zone restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "height",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For truck restrictions and toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailerHeight",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleWeight",
            "in": "query",
            "description": "Actual total weight of vehicle incl. payload, but not trailers' weight or payload. 7.5t or 7500kg or 16500lbs. See also limitedWeight. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limitedWeight",
            "in": "query",
            "description": "Actual total weight of vehicle incl. payload and trailers/caravan incl. their payload. 7.5t or 7500kg or 16500lbs. For truck restrictions, speed profile, toll cost and environmental zone restrictions. See also vehicleWeight.",
            "required": false,
            "type": "string"
          },
          {
            "name": "disabledEquipped",
            "in": "query",
            "description": "1=vehicle equipped to carry disabled people, 0=otherwise. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "passengersCount",
            "in": "query",
            "description": "actual number of passengers. For toll cost. See also vehicle type carHOV.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tiresCount",
            "in": "query",
            "description": "Number of tires. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "commercial",
            "in": "query",
            "description": "1=vehicle registered for commercial use, 0=otherwise. For toll cost and environmental zone regulations.",
            "required": false,
            "type": "string"
          },
          {
            "name": "shippedHazardousGoods",
            "in": "query",
            "description": "Comma separated list from explosive, gas, flammable, combustible, organic, poison, radioActive, corrosive, poisonousInhalation, harmfulToWater, other, allhazardousGoods, explosiveFlammable. For toll cost (only explosive and other) and for truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "heightAbove1stAxle",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "length",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For truck restrictions and toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailerWeight",
            "in": "query",
            "description": "Actual total weight of trailers with their payload. 7.5t or 7500kg or 16500lbs. See also limitedWeight. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "weightPerAxle",
            "in": "query",
            "description": "Actual total weight per axle, incl. payload. 7.5t or 7500kg or 16500lbs. For toll cost and truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tunnelCategory",
            "in": "query",
            "description": "Defines the tunnel categories the truck must NOT use. B, C, D or E. A tunnels have no restrictions. E tunnels have most restrictions. If C is defined, the route will use A and B tunnels but not C, D or E.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fuelType",
            "in": "query",
            "description": "Defines the fuel powering the vehicle. Can be Diesel, Petrol, LPG, LNG, CNG, Ethanol, Propane, Hydrogen, Electric. (LPG=Liquefied Petroleum Gas,  LNG=Liquefied Natural Gas). Used f.e. for environmental zone restrictions, toll cost calculation, consumption based routing for Electric vehicles.",
            "required": false,
            "type": "string"
          },
          {
            "name": "weightPerAxleGroup",
            "in": "query",
            "description": "Semicolon separated list of vehicle weight [tons] per axle group. Each item is a tupel (name,value). Supported names are single,and tandem. Example: &weightPerAxleGroup=single:12;tandem:18",
            "required": false,
            "type": "string"
          },
          {
            "name": "overlays",
            "in": "query",
            "description": "Overlay map name. Case insensitive. Must start with OVERLAY and contain only characters.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "fastest;car;traffic:disabled;[optional parameters] As optional parameters motorway (0, -1, -2, -3), tollroad (0, -1, -2, -3), boatFerry (0, -1, -2, -3), railFerry (0, -1, -2, -3), and tunnel (0, -1, -2, -3) can follow. \"shortest\" and \"balanced\" are not supported but can be individually tuned using &driver_cost and &vehicle_cost. Vehicle types: bdouble, bicycle, bus, car, carHOV, custom1, emergency, motorcycle, pedestrian, roadtrain, taxi, truck",
            "required": false,
            "type": "string"
          },
          {
            "name": "restTimes",
            "in": "query",
            "description": "Legal drive/rest intervals. Specify 'local' to obey the legal driver rest times of the respective country. If the driver is not fresh then add ,TimeAlreadyDrivenSinceLastShortBreak,TimeAlreadyDrivenSinceLastLongRest in seconds. Alternatively, proprietary values can be set for DriveTimeUntilShortBreak, ElapsedTimeUntilShortBreak, ShortBreakDuration, DriveTimeUntilLongRest, ElapsedTimeUntilLongBreak, LongRestDuration. E.g. EU requires after 4.5h a 45min break + after 9h an 11h rest.",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language for the maneuver instructions in the response. Currently de-de, en-us and it-it are supported. If not specified, en-us is used.",
            "required": false,
            "type": "string"
          },
          {
            "name": "avoidLinks",
            "in": "query",
            "description": "Comma separated list of link ids to be avoided. Positive ids are not driven from reference node, negative ids are not driven towards reference node. Use '*' prefix to avoid both directions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "avoidAreas",
            "in": "query",
            "description": "List of areas (rectangles or polygons) to be avoided. Areas are separated by '!'. Rectangles can be specified with two diagonal coordinates separated by ';', e.g. latMax,lonMin;latMin,lonMax. Polygons are specified with consecutive vertex coordinates separated by ';', e.g. lat1,lon1;lat2,lon2;lat3,lon3;... ",
            "required": false,
            "type": "string"
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Format like departure. Use this to find out when you have to start the journey to arrive at the given time. Note that toll cost is not considered when arrival time is specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rollups",
            "in": "query",
            "description": "Comma separated list of rollups (groupings, aggregation levels) in the result. Currently supported rollups are none (per link details), total (totals), tollsys (per toll system summaries), country (per country summaries), country;tollsys (per country and toll system summaries). Example: &rollups=none,country;tollsys,country returns the cost details and 2 different summaries.",
            "required": false,
            "type": "string"
          },
          {
            "name": "speedFcCat",
            "in": "query",
            "description": "Comma separated list of speeds driven in kilometer per hour per road functional class (1-5 + Virtual Connections VC) and speed category (1-8) (f.e. FC1-SC1,FC1-SC2,...,FC1-SC8;FC2-SC1,FC2-SC2,...;...;VC-SC1,FC-SC2,...VC-SC8). Functional classes are semicolon separated. Can contain empty entries (no change to default f.e. 80,76,,,,,,;,,,54,46,,,;...). Overrides router's default driven speed values.",
            "required": false,
            "type": "string"
          },
          {
            "name": "routeAttributes",
            "in": "query",
            "description": "Defines which information is included in the response route part of the calculated route. Defaults to mode (mo), waypoints (wp), summary (sm), flags (fl). Also supported: speedProfile (sp), shape (sh), summaryByCountry (sc), boundinbBox (bb). Can be excluded in the response by putting a hyphen in the front. e.g. -wp",
            "required": false,
            "type": "string"
          },
          {
            "name": "responseAttributes",
            "in": "query",
            "description": "Defines which information is included in the response as part of the calculated route. Defaults to warnings (wn). Also supported: language (lg). Can be excluded in the response by putting a hyphen in the front. e.g. -wn",
            "required": false,
            "type": "string"
          },
          {
            "name": "maneuverAttributes",
            "in": "query",
            "description": "Defines which attributes are included in the response as part of the data representation of the route maneuvers. Defaults to position, instruction, length, travelTime. Additional values supported are direction and action.",
            "required": false,
            "type": "string"
          },
          {
            "name": "legAttributes",
            "in": "query",
            "description": "Defines which information is included in the response as part of the route legs. Defaults to links (li), maneuvers (mn), length (le), travelTime (tt), baseTime (bt), trafficTime (tm). Also supported: shape (sh), boundingBox (bb), turnbyturnmaneuvers (mm), none. Can be excluded in the response by putting a hyphen in the front. e.g. -mn",
            "required": false,
            "type": "string"
          },
          {
            "name": "linkAttributes",
            "in": "query",
            "description": "Define optional attributes to be returned for each link. Defaults to shape (sh), length (le), remainTime (rt), remainDistance (rd), functionalClass (fc), warnings (wn), confidence (cd). Also supported: cost (co), maneuver (ma), timezone (tz), none. Can be excluded in the response by putting a hyphen in the front. e.g. -ma",
            "required": false,
            "type": "string"
          },
          {
            "name": "traverseGates",
            "in": "query",
            "description": "Assume the driver has keys/permissions to traverse gates, if \"true\". Default = don't traverse any gates unless vehicle type is emergency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "routeMatch",
            "in": "query",
            "description": "Default: Compute a legal route that goes through all way points. 1 = treat the waypoints (or trace file POST body) as GPS trace and return the most probable route along this trace. 2 = ETA Tracking mode, compute the route and take the POST body GPS trace into account to detect taken driver rest times and reached/skipped waypoints.",
            "required": false,
            "type": "string"
          },
          {
            "name": "legal",
            "in": "query",
            "description": "For routeMatch=1. Enforces a legal route w.r.t. the listed maneuver types. Support maneuver types (comma separated list): access,gate,oneway,thrutraf,turn. Passing all of them yields a legal route as from a router. access=use only links allowed for the vehicle type (incl. truck measures). gate=don't traverse gates. oneway=don't drive links into forbidden direction. thrutraf=don't enter+leaving 'no through traffic' zones. turn=don't turn/u-turn illegally. Default: avoid illegal maneuvers, but use them if the trace obviously used them. If used, return respective warnings.",
            "required": false,
            "type": "string"
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Comma separated list of PDE layer names, to get link attributes along the route. Only link attribute layers (roughly those ending in _FC1, _FC2 ... ) are supported. Specify FCn to get the layers of all functional classes. Behind each layer name attributes can be listed, or (*) to get all. Example: &attributes=ROAD_GEOM_FCn(TUNNEL), SPEED_LIMITS_FCn (FROM_REF_SPEED_LIMIT, TO_REF_SPEED_LIMIT), ADAS_ATTRIB_FCn (SLOPES). A maximum of 32 layers can be requested per request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tollPass",
            "in": "query",
            "description": "Comma separated list of owned passes: Senior_Pass, transponder, Annual, Nr_of_Days, Nr_of_Months, SunPass, E-Z Pass (last 2 are examples for real toll transponders). Allows traversal of 'transponder-only' toll booths and allows cost free traversal of certain toll sections.",
            "required": false,
            "type": "string"
          },
          {
            "name": "capacity",
            "in": "query",
            "description": "Comma separated list of numeric truck capacity limits. E.g. 8,25,6 for max. 8t payload and max. 25 square meter floor space and max 6 passengers. Must match the 'load' values of way points. For unsorted or optional way points.",
            "required": false,
            "type": "string"
          },
          {
            "name": "customConsumptionDetails",
            "in": "query",
            "description": "Semicolon separated list of speed/ascent/descent/builtupFactor/auxilliaryConsumption fuel consumption parameters. Speed is a list of $/km for different speeds. Ascent/descent are additional $/km per altitude climbed or descended. Builtup factor is an optional heuristic consumption multiplier for urban area, default value is 1.55. auxilliaryConsumption is the additional consumption (per hour) for running auxilliary units (climate control, infotainment, lights, etc.). Cost unit is not $ but 'currency'. Example: speed,0,0.102,10,0.084,30,0.066,50,0.06,70,0.066,100,0.072,120,0.084,140,0.108; ascent,0.4; descent,0.1; builtupFactor,1.4 = at 70 kph the car consumes 6.6$/100km and 0.4$/km altitude climbed, consumption increases 40% in urban area. Alternatively, user can specify default consumption profile: 3.5t, 7.5t, 18t, 40t or weightDependent. In case of the weightDependent consumption profiles will be decided based on the limitedWeight so this parameter also needs to be specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "alternatives",
            "in": "query",
            "description": "Maximum number of alternative route options to return. Can return less or no alternatives. Only returns route alternatives that significantly differ from the best route but are not much more costly.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Routing calculation must be finished within this amount of milliseconds. Default 50000. Maximum 50000.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ignoreWaypointVehicleRestriction",
            "in": "query",
            "description": "radius[;penaltyFactor[;all]] Radius in meter around a waypoint to ignore restrictions (vehicle type, admin truck, time-based) restrictions if necessary. Penalty factor (cost multiplier 0...1) how strict to avoid. all = not only time based restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "maxSpeed",
            "in": "query",
            "description": "Maximum speed allowed for the whole routing. Supported units are kmh (kilometres per hour), mph (miles per hour) and mps (metres per second). If no unit is provided, kmh will be used as default unit.",
            "required": false,
            "type": "string"
          },
          {
            "name": "alignToGpsTime",
            "in": "query",
            "description": "Route matching tries to align the driving time to the GPS timestamps. On per default. Set to 0 to switch it off.",
            "required": false,
            "type": "string"
          },
          {
            "name": "customAttributes",
            "in": "query",
            "description": "Comma separated list of CLE layer names, to get link attributes along the route. Format follows the 'attribute' parameter. No FCn notation supported",
            "required": false,
            "type": "string"
          },
          {
            "name": "mapMatchRadius",
            "in": "query",
            "description": "Map match search radius [meter]. Will be applied to each way point. If given it overrides waypoints' transitRadius values. Default 100.0.",
            "required": false,
            "type": "string"
          },
          {
            "name": "excludeCountries",
            "in": "query",
            "description": "excludeCountries",
            "required": false,
            "type": "string"
          },
          {
            "name": "excludeZoneTypes",
            "in": "query",
            "description": "Checks if a route may enter a zone. Currently supported values: environmental. If omitted or empty, zone restrictions are not taken into account. Not supported for route matching.",
            "required": false,
            "type": "string"
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "Mirrored RequestId value from the request structure. Used to trace requests.",
            "required": false,
            "type": "string"
          },
          {
            "name": "instructionFormat",
            "in": "query",
            "description": "Defines the representation format of the maneuver's instruction text. Supported formats are text|html",
            "required": false,
            "type": "string"
          },
          {
            "name": "oneway",
            "in": "query",
            "description": "Default: Obey oneways. 'penalty:0.5' allows oneway violation if the time benefit is more than 0.5 sec/meter. For bicycle recommended value 0.125, for emergencies 0.5. Not allowed for other vehicles.",
            "required": false,
            "type": "string"
          },
          {
            "name": "drivingReport",
            "in": "query",
            "description": "Defines whether driving report is added to the route match response. Set to 1 to switch it on. Turned off by default.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ignorePreferredRoutes",
            "in": "query",
            "description": "Preferred routes for a specific vehicle type, are taken by default. To turn if off set ignorePreferredRoutes to true.",
            "required": false,
            "type": "string"
          },
          {
            "name": "avoidTurns",
            "in": "query",
            "description": "Comma separated list of elements like left[;minAngleDegree;penaltySec] or right... or uTurn[;penaltySec] if a left/right turn is sharper than the specified angle (0...180) then the given time penalty is applied. uTurnAtWaypoint avoids u-turning on the link directly where the waypoint was reached.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ignoreZeroSpeedPoints",
            "in": "query",
            "description": "Only for route matching. Default = consider all points. 1 = ignore trace points that have zero speed (only in traces that provide speed but not time).",
            "required": false,
            "type": "string"
          },
          {
            "name": "chargingStationFilters",
            "in": "query",
            "description": "URL Encoded comma separated list of charging stations to filter out the electric vehicle charging stations, along the route.",
            "required": false,
            "type": "string"
          },
          {
            "name": "makeReachable",
            "in": "query",
            "description": "A route will be returned even there are not sufficient fuel/EV-charging stations along the route consumption/energy details if this parameter is set to true. Default = false.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cellularSignals",
            "in": "query",
            "description": "cellularSignals",
            "required": false,
            "type": "string"
          },
          {
            "name": "plannedWaypointReachTolerance",
            "in": "query",
            "description": "Only for routeMatch=2 with learned stops. Default = 20000 meter. If the trace gets closer then the learned stop is considered reached",
            "required": false,
            "type": "string"
          },
          {
            "name": "customRestrLimit",
            "in": "query",
            "description": "Comma separated list of key value pairs of custom restriction limits. The key and value of individual custom restriction limit must be numeric and must be separated by colon. Example: 0:10,1:20,2:50",
            "required": false,
            "type": "string"
          },
          {
            "name": "evPoiLayer",
            "in": "query",
            "description": "Name of the layer which will be used to find the Electric Charging Stations along the route for Electric Vehicle Routing",
            "required": false,
            "type": "string"
          },
          {
            "name": "routeMatch2PlannedWayPointReachRadius",
            "in": "query",
            "description": "Only for routeMatch=2. If vehicle apporaches a planned waypoint closer than this then the waypoint is considered reached. Default 20000.0m.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ignoreWaypointsFarFromNeighbors",
            "in": "query",
            "description": "Only for routeMatch>0. Default true. If false then doesn't ignore a trace point when it is much further away from its neighbors than the usual distances in the trace",
            "required": false,
            "type": "string"
          },
          {
            "name": "wayPointHeadingMismatchPenaltyFactor",
            "in": "query",
            "description": "Tie waypoints closer to links where the GPS heading matches the link's heading, and try harder to meet waypoints in the given driving direction. Default = 1.",
            "required": false,
            "type": "string"
          },
          {
            "name": "avoidPrivate",
            "in": "query",
            "description": "Use private streets for routing. Set to 1 to always allow it or -1 to always forbid it. Default is 0 - access is allowed if there is a waypoint in the private street.",
            "required": false,
            "type": "string"
          },
          {
            "name": "licensePlate",
            "in": "query",
            "description": "Licenseplate of the vehicle. The vehicles registration number can influence the permission to drive in certain zones, mostly environmental zones.",
            "required": false,
            "type": "string"
          },
          {
            "name": "adminTruckRestrictions",
            "in": "query",
            "description": "Per default admin wide truck restrictions are obeyed. 'ignore' ignores them.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mapMatchTolerance",
            "in": "query",
            "description": "Map match tolerance [meter]. Will be applied to each way point. Routing can meet the waypoint on all links that are that much further away from the coordinate than the nearest. Default 3.0.",
            "required": false,
            "type": "string"
          },
          {
            "name": "privateChargingStation",
            "in": "query",
            "description": "If true then private charging stations will be considered during routing. Default is false.",
            "required": false,
            "type": "string"
          },
          {
            "name": "costPerConsumptionUnit",
            "in": "query",
            "description": "The cost of a consumption unit in targetCurrency. Default is 1.",
            "required": false,
            "type": "string"
          },
          {
            "name": "restTimeDriverCost",
            "in": "query",
            "description": "Cost per hour in target currency while driver is taking a legal rest time. Can be between 0 and driver_cost value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "waypoint0 ... waypointN",
            "in": "query",
            "description": "Comma separated waypoint latitude, longitude in WGS-84 degree. A route must consist of at least 2\r\nwaypoints (start and destination). The maximum number of waypoints is limited. However, this limit is not a fixed number but is a result of the limit for the overall processing time.\r\nSet a transit radius by ;10000 to only influence the route to go via a certain city\r\nSet a heading by ;;;140 (degree clockwise from North) to improve map matching\r\nTo define a loading/delay time at a waypoint, use stopOver[,timeInSeconds]!. Example: &waypoint1=stopOver,300!50.12,8.65.\r\nThe optional specifications altitude, custom label, !StreetPosition and !LinkPosition are currently supported.\r\nThe coordinates may be directly followed by ;transitRadius;label;heading.\r\nWaypoints can have opening and closing times, can be unsorted or optional. Details are in Key Concepts / Waypoint sorting, optional Pickup and Opening Times",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "file",
            "description": "Trace file for route matching. GPX, NMEA, KML or CSV.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jsonCallback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Routing & Route Matching"
        ],
        "summary": "Calculates a route with additional fleet telematics features",
        "description": "Calculates a route with additional fleet telematics features.\r\nThis resource provides a similar interface as the Routing REST API.\r\nNote: If using the cre.api.here.com endpoint, then requests that don't need specific features may get redirected to the Routing REST API. This doesn't happen when usgin the fleet.api.here.com endpoint.",
        "operationId": "calculateRouteUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8",
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "type": "string"
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "type": "string"
          },
          {
            "name": "driver_cost",
            "in": "query",
            "description": "Cost per hour in target currency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicle_cost",
            "in": "query",
            "description": "Cost per kilometer in target currency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleCostOnFerry",
            "in": "query",
            "description": "Cost per kilometer on ferry in target currency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "3 letter ISO currency symbol, like EUR or USD. Required if toll cost must be added up across different currencies and/or be added to driver/vehicle/fuel cost in different currencies.",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "type": "string"
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Format: now, yyyy-MM-dd'T'HH:mm:ss or yyyy-MM-dd'T'HH:mm:ssX. If no timezone is specified, then the local timezone at the route start link is used. Default: Ignore all time dependent access restrictions. Special values: ignoreTimeDepRestr (like default), obeyTimeDepRestr (all time dependent restrictions apply).",
            "required": false,
            "type": "string"
          },
          {
            "name": "tollVehicleType",
            "in": "query",
            "description": "1=Motorcycle, 2=Auto, 3=Truck, 4=Motor home, 5=Minibus, 6=Bus, 7=Motorcycle Sidecar(EU), 8=Tricycle(EU), 9=Delivery Truck(EU+India), 10=Snowmobile(US), 11=Pick-up(US+India), 12=Tractor(US+India), 13=Taxi, 14=HCM/EME (India)",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailerType",
            "in": "query",
            "description": "0=None, 1=Caravan, 2=Trailer. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailersCount",
            "in": "query",
            "description": "Number of trailers, 0...4. For toll cost and truck restrictions. 0=no trailer, 1=one or more trailers, 2=two or more trailers, 3=three or more trailers. For truck restrictions: 4=one or more semi-trailers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleNumberAxles",
            "in": "query",
            "description": "Number of axles excluding trailers. For toll cost and for country wide truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailerNumberAxles",
            "in": "query",
            "description": "Number of trailer axles. For toll cost and for country wide truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hybrid",
            "in": "query",
            "description": "1=fuel+electric, 0=otherwise. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "emissionType",
            "in": "query",
            "description": "1=EURO I, 2=EURO II, 3=EURO III, 4=EURO IV, 5=EURO V, 6=EURO VI, 7=EURO EEV, 8=Electric Vehicles. For toll cost and environmental zone restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "height",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For truck restrictions and toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailerHeight",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleWeight",
            "in": "query",
            "description": "Actual total weight of vehicle incl. payload, but not trailers' weight or payload. 7.5t or 7500kg or 16500lbs. See also limitedWeight. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limitedWeight",
            "in": "query",
            "description": "Actual total weight of vehicle incl. payload and trailers/caravan incl. their payload. 7.5t or 7500kg or 16500lbs. For truck restrictions, speed profile, toll cost and environmental zone restrictions. See also vehicleWeight.",
            "required": false,
            "type": "string"
          },
          {
            "name": "disabledEquipped",
            "in": "query",
            "description": "1=vehicle equipped to carry disabled people, 0=otherwise. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "passengersCount",
            "in": "query",
            "description": "actual number of passengers. For toll cost. See also vehicle type carHOV.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tiresCount",
            "in": "query",
            "description": "Number of tires. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "commercial",
            "in": "query",
            "description": "1=vehicle registered for commercial use, 0=otherwise. For toll cost and environmental zone regulations.",
            "required": false,
            "type": "string"
          },
          {
            "name": "shippedHazardousGoods",
            "in": "query",
            "description": "Comma separated list from explosive, gas, flammable, combustible, organic, poison, radioActive, corrosive, poisonousInhalation, harmfulToWater, other, allhazardousGoods, explosiveFlammable. For toll cost (only explosive and other) and for truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "heightAbove1stAxle",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "length",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For truck restrictions and toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailerWeight",
            "in": "query",
            "description": "Actual total weight of trailers with their payload. 7.5t or 7500kg or 16500lbs. See also limitedWeight. For toll cost.",
            "required": false,
            "type": "string"
          },
          {
            "name": "weightPerAxle",
            "in": "query",
            "description": "Actual total weight per axle, incl. payload. 7.5t or 7500kg or 16500lbs. For toll cost and truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "350cm or 3.5m or 138in. For truck restrictions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tunnelCategory",
            "in": "query",
            "description": "Defines the tunnel categories the truck must NOT use. B, C, D or E. A tunnels have no restrictions. E tunnels have most restrictions. If C is defined, the route will use A and B tunnels but not C, D or E.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fuelType",
            "in": "query",
            "description": "Defines the fuel powering the vehicle. Can be Diesel, Petrol, LPG, LNG, CNG, Ethanol, Propane, Hydrogen, Electric. (LPG=Liquefied Petroleum Gas,  LNG=Liquefied Natural Gas). Used f.e. for environmental zone restrictions, toll cost calculation, consumption based routing for Electric vehicles.",
            "required": false,
            "type": "string"
          },
          {
            "name": "weightPerAxleGroup",
            "in": "query",
            "description": "Semicolon separated list of vehicle weight [tons] per axle group. Each item is a tupel (name,value). Supported names are single,and tandem. Example: &weightPerAxleGroup=single:12;tandem:18",
            "required": false,
            "type": "string"
          },
          {
            "name": "overlays",
            "in": "query",
            "description": "Overlay map name. Case insensitive. Must start with OVERLAY and contain only characters.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "fastest;car;traffic:disabled;[optional parameters] As optional parameters motorway (0, -1, -2, -3), tollroad (0, -1, -2, -3), boatFerry (0, -1, -2, -3), railFerry (0, -1, -2, -3), and tunnel (0, -1, -2, -3) can follow. \"shortest\" and \"balanced\" are not supported but can be individually tuned using &driver_cost and &vehicle_cost. Vehicle types: bdouble, bicycle, bus, car, carHOV, custom1, emergency, motorcycle, pedestrian, roadtrain, taxi, truck",
            "required": false,
            "type": "string"
          },
          {
            "name": "restTimes",
            "in": "query",
            "description": "Legal drive/rest intervals. Specify 'local' to obey the legal driver rest times of the respective country. If the driver is not fresh then add ,TimeAlreadyDrivenSinceLastShortBreak,TimeAlreadyDrivenSinceLastLongRest in seconds. Alternatively, proprietary values can be set for DriveTimeUntilShortBreak, ElapsedTimeUntilShortBreak, ShortBreakDuration, DriveTimeUntilLongRest, ElapsedTimeUntilLongBreak, LongRestDuration. E.g. EU requires after 4.5h a 45min break + after 9h an 11h rest.",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language for the maneuver instructions in the response. Currently de-de, en-us and it-it are supported. If not specified, en-us is used.",
            "required": false,
            "type": "string"
          },
          {
            "name": "avoidLinks",
            "in": "query",
            "description": "Comma separated list of link ids to be avoided. Positive ids are not driven from reference node, negative ids are not driven towards reference node. Use '*' prefix to avoid both directions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "avoidAreas",
            "in": "query",
            "description": "List of areas (rectangles or polygons) to be avoided. Areas are separated by '!'. Rectangles can be specified with two diagonal coordinates separated by ';', e.g. latMax,lonMin;latMin,lonMax. Polygons are specified with consecutive vertex coordinates separated by ';', e.g. lat1,lon1;lat2,lon2;lat3,lon3;... ",
            "required": false,
            "type": "string"
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Format like departure. Use this to find out when you have to start the journey to arrive at the given time. Note that toll cost is not considered when arrival time is specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rollups",
            "in": "query",
            "description": "Comma separated list of rollups (groupings, aggregation levels) in the result. Currently supported rollups are none (per link details), total (totals), tollsys (per toll system summaries), country (per country summaries), country;tollsys (per country and toll system summaries). Example: &rollups=none,country;tollsys,country returns the cost details and 2 different summaries.",
            "required": false,
            "type": "string"
          },
          {
            "name": "speedFcCat",
            "in": "query",
            "description": "Comma separated list of speeds driven in kilometer per hour per road functional class (1-5 + Virtual Connections VC) and speed category (1-8) (f.e. FC1-SC1,FC1-SC2,...,FC1-SC8;FC2-SC1,FC2-SC2,...;...;VC-SC1,FC-SC2,...VC-SC8). Functional classes are semicolon separated. Can contain empty entries (no change to default f.e. 80,76,,,,,,;,,,54,46,,,;...). Overrides router's default driven speed values.",
            "required": false,
            "type": "string"
          },
          {
            "name": "routeAttributes",
            "in": "query",
            "description": "Defines which information is included in the response route part of the calculated route. Defaults to mode (mo), waypoints (wp), summary (sm), flags (fl). Also supported: speedProfile (sp), shape (sh), summaryByCountry (sc), boundinbBox (bb). Can be excluded in the response by putting a hyphen in the front. e.g. -wp",
            "required": false,
            "type": "string"
          },
          {
            "name": "responseAttributes",
            "in": "query",
            "description": "Defines which information is included in the response as part of the calculated route. Defaults to warnings (wn). Also supported: language (lg). Can be excluded in the response by putting a hyphen in the front. e.g. -wn",
            "required": false,
            "type": "string"
          },
          {
[...]
